@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    height: 100vh;
    width: 100vw;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
}

section#iphone{
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
    position: absolute;

}
iframe#tela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 271px;
    height: 479px;
    background-color: blue;
}
section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    width: 65px;
    border: 3px solid rgba(255, 255, 255, 0.432);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: width 0.4s,border 0.7s ;
}
footer{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 319px;
    font-size: 1em;
}
footer > p{
    color: rgba(255, 255, 255, 0.301);
    font-weight: bolder;
}
